.pacman-background {
    display: flex;
    flex-direction: column;
    gap: 0;
    z-index: -1;
    position: absolute;
    border-bottom: 0.5vw solid #490eab;
}

.pacman-background-mobile {
    display: flex;
    flex-direction: column;
    gap: 0;
    z-index: -1;
    position: absolute;
    margin-top: -4.2vh;
    border-top: 1.2vh solid #490eab;
    border-bottom: 1.2vh solid #490eab;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.subcomponent {
    box-sizing: border-box;
    box-shadow: 0 0 0.5vw #b06500;
    position: relative;
    width: 4vw;
    height: 4vw;
    background-color: black;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcomponent-mobile {
    box-sizing: border-box;
    box-shadow: 0 0 0.5vh #b06500;
    position: relative;
    width: 10vw;
    height: 10vw;
    background-color: black;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcomponent.with-item {
    justify-content: center;
    align-items: center;
}

.dot {
    width: 0.66vw;
    height: 0.66vw;
    background-color: #FCFC03;
    border-radius: 50%;
    box-shadow: 0 0 0.5vw yellow;
}

.dot-mobile {
    width: 1.8vw;
    height: 1.8vw;
    background-color: #FCFC03;
    border-radius: 50%;
    box-shadow: 0 0 1.2vw yellow;
}

.powerup {
    width: 2.1vw;
    height: 2.1vw;
    background-color: #FCFC03;
    border-radius: 50%;
    box-shadow: .1vw 0 1vw #ff9100;
    animation: glow 1.2s infinite alternate;
}

.powerup-mobile {
    width: 4.5vw;
    height: 4.5vw;
    background-color: #FCFC03;
    border-radius: 50%;
    box-shadow: .1vw 0 1vw #ff9100;
    animation: glow 1.2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 0.33vw #ff9100;
    }
    to {
        box-shadow: 0 0 0.9vw yellow;
    }
}

.cherry {
    width: 2.7vw;
    height: 2.7vw;
    /*animation: grow 0.9s infinite alternate;*/
}

.cherry-mobile {
    width: 5.4vw;
    height: 5.4vw;
    /*animation: grow-mobile 0.9s infinite alternate;*/
}

@keyframes grow {
    from {
        width: 2.7vw;
        height: 2.7vw;
    }
    to {
        width: 2.8vw;
        height: 2.8vw;
    }
}

@keyframes grow-mobile {
    from {
        width: 6vw;
        height: 6vw;
    }
    to {
        width: 6.3vw;
        height: 6.3vw;
    }
}

.subcomponent.has-top-wall {
    border-top: 0.5vw solid #490eab;
}

.subcomponent-mobile.has-top-wall {
    border-top: 1.2vw solid #490eab;
}

.subcomponent.has-bottom-wall {
    border-bottom: 0.5vw solid #490eab;
}

.subcomponent-mobile.has-bottom-wall {
    border-bottom: 1.2vw solid #490eab;
}

.subcomponent.has-left-wall {
    border-left: 0.5vw solid #490eab;
}

.subcomponent-mobile.has-left-wall {
    border-left: 1.2vw solid #490eab;
}

.subcomponent.has-right-wall {
    border-right: 0.5vw solid #490eab;
}

.subcomponent-mobile.has-right-wall {
    border-right: 1.2vw solid #490eab;
}
