@font-face {
    font-family: 'PressStart2P';
    src: url(../../assets/fonts/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'ArcadeClassic';
    src: url(../../assets/fonts/ArcadeClassic.ttf);
}

.flip {
    color: white;
}

.navbar {
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.leaderboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 25vw;
}

.leaderboard-btn {
    height: 4vw;
    width: 14vw;
    font-family: "ArcadeClassic", serif;
    font-size: 1.8vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    border-radius: .33vw;
    box-shadow: 0 0 0.33vw purple;
}

.leaderboard-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

.mute-btn {
    height: 4vw;
    width: 4vw;
    background-color: #490eab;
    border: solid .33vh black;
    border-radius: .33vw;
    box-shadow: 0 0 0.33vw purple;
}

.mute-btn-selected {
    height: 4vw;
    width: 4vw;
    background-color: #490eab;
    border: solid .33vh black;
    border-radius: .33vw;
    box-shadow: 0 0 0.33vw purple;
    opacity: 60%;
}

.mute-btn:hover {
    cursor: pointer;
}

.mute-img {
    margin-top: .33vw;
    height: 3vw;
    width: 3vw;
}

.title {
    font-size: 3.6vw;
    width: 50vw;
    text-align: center;
    font-family: PressStart2P, serif;
    text-shadow:
            0.24vw 0.24vw 0.24vw #693c8d,
            -0.15vw 0.15vw 0.24vw #FCFC03;
    color: whitesmoke;
}

.level-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: ArcadeClassic, serif;
    font-size: 2.1vw;
    text-shadow: .18vh .18vh purple;
    width: 25vw;
}

.social-btn {
    height: 4vw;
    width: 4vw;
    background-color: #490eab;
    border: solid .33vh black;
    border-radius: .33vw;
    box-shadow: 0 0 0.33vw purple;
}

.social-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

.twitter {
    height: 3vw;
    width: 3vw;
}

.levelbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levelbar {
    width: 10vw;
    height: 1.5vw;
    background: #eee;
    border-radius: 2px;
    box-shadow: 0 0 0.45vw purple;
    overflow: hidden;
}

.experience {
    height: 100%;
    background: #43f535;
    border-radius: 4px;
    transition: width 0.5s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    flex-direction: row;
}

.choice-btn {
    height: 3vw;
    width: 14vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.4vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.choice-btn-selected {
    border: solid .33vh black;
    opacity: 75%;
}

.choice-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

.amounts {
    display: flex;
    flex-direction: row;
}

.amount-btn {
    height: 2.5vw;
    width: 9.3333vw;
    font-family: ArcadeClassic, serif;
    font-size: 1.5vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.amount-btn-selected {
    border: solid .33vh black;
    opacity: 75%;
}

.amount-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

.flip-info {
    height: 8vw;
    width: 28vw;
    font-family: ArcadeClassic, serif;
    font-size: 3.3vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 75%;
}

.flip-btn {
    height: 4vw;
    width: 28vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.4vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.flip-btn:hover {
    opacity: 75%;
    cursor: pointer;
}

.result-txt {
    height: 8vw;
    width: 28vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.4vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 75%;
}

.result-btn {
    height: 4vw;
    width: 28vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.8vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.result-btn:hover {
    opacity: 72%;
    cursor: pointer;
}

.coin-container {
    margin-top: 4vw;
    height: 28vw;
}

.coin-animated {
    position: relative;
    width: 24vw;
    height: 24vw;
    animation-name: spinning;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transform-style: preserve-3d;
}

.coin-result {
    position: relative;
    width: 24vw;
    height: 24vw;
}

@keyframes spinning {
    from { transform: perspective(24vw) rotateY(0deg); }
    to { transform: perspective(24vw) rotateY(360deg); }
}

@keyframes flipping {
    from { transform: perspective(33vw) rotateX(0deg); }
    to { transform: perspective(33vw) rotateX(-1080deg); }
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
}

.front-img,
.back-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.alert {
    position: absolute;
    overflow: hidden;
    top: 34vw;
    left: 40vw;
    z-index: 9999;
    height: 4vw;
    width: 20vw;
    font-family: PressStart2P, serif;
    font-size: 0.9vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.progress-bar {
    height: .45vw;
    background-color: #721c24;
    position: absolute;
    top: 0;
    left: 0;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.title-mobile {
    text-align: center;
    font-size: 4.5vh;
    font-family: PressStart2P, serif;
    text-shadow:
            0.24vw 0.24vw 0.24vw #693c8d,
            -0.15vw 0.15vw 0.24vw #FCFC03;
    color: whitesmoke;
}

.middle-container-mobile {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: -2.4vh;
    margin-bottom: 2.7vh;
}

.leaderboard-btn-mobile {
    height: 6vh;
    width: 24vh;
    font-family: ArcadeClassic, serif;
    font-size: 3vh;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.social-btn-mobile {
    height: 6vh;
    width: 6vh;
    background-color: #490eab;
    border: solid .33vh black;
    border-radius: .33vw;
    box-shadow: 0 0 0.33vw purple;
}

.social-btn-mobile:hover {
    opacity: 75%;
    cursor: pointer;
}

.twitter-mobile {
    margin-top: 0.24vh;
    margin-left: -1vh;
    height: 3.9vh;
    width: 3.9vh;
}

.levelbar-container-mobile {
    display: flex;
    align-items: center;
}

.level-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ArcadeClassic, serif;
    font-size: 3.6vh;
    text-shadow: .18vh .18vh purple;
}

.levelbar-mobile {
    width: 30vw;
    height: 3.6vw;
    margin-top: 1vh;
    background: #eee;
    border-radius: 2px;
    box-shadow: 0 0 0.45vw purple;
    overflow: hidden;
}

.experience-mobile {
    height: 100%;
    background: #43f535;
    border-radius: 4px;
    transition: width 0.5s;
}

.main-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices-mobile {
    display: flex;
    flex-direction: row;
}

.choice-btn-mobile {
    height: 7.4vw;
    width: 40vw;
    font-family: ArcadeClassic, serif;
    font-size: 3.6vh;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.choice-btn-mobile-selected {
    border: solid .33vh black;
    opacity: 75%;
}

.amounts-mobile {
    display: flex;
    flex-direction: row;
}

.amount-btn-mobile {
    height: 6.3vw;
    width: 26.666666vw;
    font-family: ArcadeClassic, serif;
    font-size: 3vh;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.amount-btn-mobile-selected {
    border: solid .33vh black;
    opacity: 75%;
}

.flip-info-mobile {
    height: 20vw;
    width: 80vw;
    font-family: ArcadeClassic, serif;
    font-size: 5.4vh;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 75%;
}

.flip-btn-mobile {
    height: 10vw;
    width: 80vw;
    font-family: ArcadeClassic, serif;
    font-size: 4.8vh;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.result-txt-mobile {
    height: 20vw;
    width: 80vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.4vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 75%;
}

.result-btn-mobile {
    height: 10vw;
    width: 80vw;
    font-family: ArcadeClassic, serif;
    font-size: 2.8vw;
    color: white;
    text-shadow: .18vh .18vh black;
    background-color: #490eab;
    border: solid .33vh black;
    opacity: 100%;
}

.coin-container-mobile {
    height: 51.7vh;
}

.coin-animated-mobile {
    position: relative;
    width: 45vh;
    height: 45vh;
    animation-name: spinning-mobile;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transform-style: preserve-3d;
}

.coin-result-mobile {
    position: relative;
    width: 24vw;
    height: 24vw;
}

@keyframes spinning-mobile {
    from { transform: perspective(48vh) rotateY(0deg); }
    to { transform: perspective(48vh) rotateY(360deg); }
}

@keyframes flipping-mobile {
    from { transform: perspective(66vh) rotateX(0deg); }
    to { transform: perspective(66vh) rotateX(-1080deg); }
}

